@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	height: 100%;
	
}


.leaflet-bottom,
.leaflet-top,
.leaflet-control,
.leaflet-pane {
	z-index: 0 !important;
}



/* For WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  
}


::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

html:hover {
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
}